<div ng-controller="FiltroController as ctrl">
	<div class=" col-lg-9">
	 <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
 		  <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-stats"></span></a> 
 	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.menu.orgao}}<span class="caret"></span></a>
	          <ul class="dropdown-menu scrollable-menu" role="menu"">
	            <li  ng-repeat="orgao in ctrl.orgaos.sort() | filter:criterio"><a href="" ng-click="ctrl.atualizaOrgao(orgao)">{{orgao}}</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.menu.dataInicial}} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li ng-repeat="ano in ctrl.anos"><a href="" ng-click="ctrl.atualizaDataInicial(ano)">{{ano}}</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.menu.dataFinal}} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li ng-repeat="ano in ctrl.anos"><a href="" ng-click="ctrl.atualizaDataFinal(ano)">{{ano}}</a></li>
	          </ul>
	        </li>
	        <!-- <li>
	        	<div class="btn-group">
	  <button class="btn btn-primary" data-label-placement>Checked option</button>
	  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li  ng-repeat="orgao in ctrl.orgaos"><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">{{orgao}}</label></li>
	      Other items
	    </ul>
	</div>
	        </li>   -->              
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <!-- <div class="form-group" ng-init="isDisabled=false">
	          <input type="text" class="form-control" placeholder="Search" ng-model="criterio" ng-key="!isDisabled">
	          <spam ng-repeat="orgao in ctrl.orgaos | filter : criterio" ng-show="isDisabled">{{orgao}}</spam>
	        </div> -->
	        <button type="button" ng-click="ctrl.filtrar()" class="btn btn-default">Pesquisar</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	
			<!-- NAV BAR LADO DIREITO -->
	
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<!-- <div ng-controller="FiltroController as ctrl">
		<ul ng-repeat="orgao in ctrl.orgaos">
	       <li><a href="#">{{orgao}}</a></li>
	    </ul>
	</div> -->
	<div class="panel panel-default">
	  <div class="panel-body">
	    <spam ng-show="ctrl.busca.orgao"><h6>Buscar gastos do órgão: </h6><h5><strong>{{ctrl.busca.orgao}}</strong></h5></spam>
	    <spam ng-show="ctrl.busca.dataInicial"><h6> entre o ano</h6><h5> <strong>{{ctrl.busca.dataInicial}}</strong></h5></spam>
	    <spam ng-show="ctrl.busca.dataFinal"><h6>e</h6> <h5><strong>{{ctrl.busca.dataFinal}}</strong></h5></spam>
	  </div>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="ctrl.respostaVazia"><strong>A resposta da pesquisa retornou vazia</strong></div>
	<div class="alert alert-success" role="alert" ng-show="ctrl.respostaNaoVazia"><strong>Pesquisa bem sucedida</strong></div>
	<div id="orgao"></div>
	<div id="fornecedores"></div>
	</div>
	<div class="col-lg-2 col-lg-offset-1">
		<ul class="nav nav-pills nav-stacked">
		  <li role="presentation"><a href="/#/">evolução dos gastos públicos</a></li>
		  <li role="presentation" class="active"><a href="/#/filtro">filtro por orgao e periodo</a></li>
		</ul>		
	</div>

</div>