<div class="row col-sm-7">
	<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
</div>
<div class="row col-sm-4 col-sm-offset-1">
	<div class="panel panel-default">
	  	<div class="panel-heading">
	    	<h3 class="panel-title">Resumo</h3>
	  	</div>
	  	<div class="panel-body">
	    	Evolução: -4%
	  	</div>
	</div>
</div>
