<div>
	<div class="row col-lg-9" id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
	<ul class="nav nav-pills nav-stacked col-lg-2 col-lg-offset-1">
	  <li role="presentation" class="active"><a href="/#/">evolução dos gastos públicos</a></li>
	  <li role="presentation"><a href="/#/filtro">filtro por orgao e periodo</a></li>
	</ul>
</div>

