<!DOCTYPE html>
<html ng-app="APP">
<head>
	<meta charset="UTF-8">
	<title>angular-loading-bar example</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css" type="text/css" media="all" />
	<style>
		body{
			padding:25px;
		}
	</style>
</head>
<body ng-controller="ExampleController">
	<button id="reloader" ng-click="getUsers()">Reload</button>
    <ul ng-repeat="person in data">
    	<li>{{person.lname}}, {{person.fname}}</li>	
    </ul>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
	<script src="../js/loading-bar.js"></script>
	<script>
	angular.module('APP', ['chieffancypants.loadingBar', 'ngAnimate']).
	controller("ExampleController",['$scope','$http',function($scope,$http){
		$scope.getUsers = function(){
			$scope.data=[];
			var url = "http://www.filltext.com/?rows=10&fname={firstName}&lname={lastName}&delay=3&callback=JSON_CALLBACK"
			$http.jsonp(url).success(function(data){
				$scope.data=data;
			})
		}
		$scope.getUsers()
	
	}])
	</script>
</body>
</html>