body {
  background-color: #ecf0f1;
  /*padding: 25px;*/
  font-family: 'Oxygen', sans;
  width: 85%;
  margin: auto;
  overflow-y: scroll;
}
.thumbnail {
  width: 70px;
  height: 70px;
  /*border: 1px solid #F1C6C2;*/
  border: 1px solid #CE8982
}
a {
  font-size:16px;
}
.badge {
  background-color: #428bca;
}
.meta, .meta-comments {
  font-size:12px;
  color: #333;
  margin-bottom: 0;
}
.meta-comments {
  font-weight: bold;
}

footer.navbar {
  height: 65px;
  width: 100%;
  border-top: 1px solid #ccc;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
  margin: 0;
  border-radius: 0;
}

.panel {
  -webkit-transition: 0.75s ease-in-out all;
  -moz-transition: 0.75s ease-in-out all;
  -o-transition: 0.75s ease-in-out all;
  transition: 0.75s ease-in-out all;
  background-color: #fff;
  border: none;
  margin-bottom: 15px;
}

.panel a {
  color: #e74c3c;
  font-weight: bold;
}

.panel .badge {
  background-color: #e74c3c;
  color: #fff;
}

.panel.ng-enter {
  opacity: 0;
}
.panel.ng-enter-active {
  opacity: 1;
  transition-delay: 0.5s;
}

.panel-body {
  border: 1px solid #ccc;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
  border-radius: 5px;
}

.examples {
  margin-bottom: 25px;
  transition-delay: 0.5s;
}

.examples.ng-hide-add,
.examples.ng-hide-remove,
.loading-text.ng-hide-add,
.loading-text.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
.examples.ng-hide-add,
.examples.ng-hide-remove {
  transition-delay: 0.5s;
}

.examples.ng-hide-add.ng-hide-add-active,
.examples.ng-hide-remove,
.loading-text.ng-hide-add.ng-hide-add-active,
.loading-text.ng-hide-remove {
  opacity:0;
}

.examples.ng-hide-add,
.examples.ng-hide-remove.ng-hide-remove-active,
.loading-text.ng-hide-add,
.loading-text.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.examples .btn i {
  top: 2px;
}

.examples span {
  color: #A1FFC9;
}

.btn-primary {
  background-color: #2ecc71;
  border: 1px solid #27ae60;
}
.btn-primary:hover {
  background-color: #32B96C;
  border: 1px solid #27ae60;
}

.jumbotron {
  color: #333;
  background-color: #66CC00;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.jumbotron h1 {
  color: #333;
  letter-spacing: -2px;
}

.jumbotron small {
  color: #999;
}

h1 {
  font-family: 'Oxygen', sans;
  /*padding-bottom: 10px;*/
}

h4 {
  font-family: 'Oxygen', sans;
  color: #888;
  padding-bottom: 5px;
  padding-top: 10px;
}
h4 span {
  color: #e74c3c;
}


/*
 * override the default CSS as an example
 */

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}
